<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{url_for('static', filename='chatbot_style.css')}}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Babe Ruth</title>
</head>
<body>
    <div class="welcome">
         <h1>WELCOME TO CHATBOT!</h1>
    </div>
    <div class="log-button">
        <a href="{{url_for('logout')}}"><img src="./static/images/LOGO.jpg" alt="Logout"  style="width:80px;height:80px;"></a>
        <p style="font-size:20px;color:white">LOGOUT</p>
    </div>
    <div class="container">
        <div class="chatbox">
            <div id="chatID" pid="{{ pid }}"></div>
            <div class="chatbox__support">
                <div class="chatbox__support">
                    <div class="chatbox__header">
                        <div class="chatbox__image--header">
                            <img src="{{picon}}" alt="image" >
                        </div>
                        <div class="chatbox__content--header">
                            <h4 class="chatbox__heading--header">BabeAI Chatbox</h4>
                        </div>
                    </div>
                    <div class="chatbox__messages">
                        <div></div>
                    </div>
                    <div class="chatbox__footer">
                        <input type="text" placeholder="Write a message...">
                        <button class="chatbox__send--footer send__button">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{url_for('static', filename='app.js')}}"></script>
</body>

</html>