<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Responsive Image Box</title>
    <style>
      .image-box {
        width: 50%;
        height: 300px;
        margin: 0 auto;
        background-image: url('your-image-url-here');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

      @media only screen and (max-width: 768px) {
        .image-box {
          width: 80%;
          height: 200px;
        }
      }
    </style>
  </head>
  <body>
    <div class="image-box"></div>
  </body>
</html>